{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Upcoming Holidays</h2>
    <table class="table table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>Occasion</th>
            </tr>
        </thead>
        <tbody>
            {% for event in calendar_list %}
            <tr>
                <td>{{ event.date }}</td>
                <td>{{ event.occasion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
